<div class="container clearfix">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
  	  <div class="top-message">
        <h1>welcome to
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers    !!
        </h1>
        <p>In <strong><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers,</strong></p>
        <p>you can share and exchange your opinions, impressions, and emotions</p>
        <p>about various books!</p>

        <div class="btn-wrapper">
  	      <div class="row">
  	        <%= link_to "Log in", new_user_session_path, class:"btn btn-info btn-block" %>
  	       </button>
          </div>
          <div class="row">
  	        <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-success btn-block" %>
  	       </button>
  	      </div>
        </div>
      </div>
    </div>
  </div>
</div>