* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}
p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	margin: 33px;
}